@import "./normalize";
@import "./animate";

// 基础样式
*[contenteditable] {
  -webkit-user-select: auto !important;
}

*:focus {
  outline: none;
}

input,
textarea,
select {
  -webkit-appearance: none;
  outline: none;
  resize: none;
  background-color: transparent;
  text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

i,
em {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

body,
html {
  background-color: $fill-body;
  height: 100%;
  text-size-adjust: 100%;
}

html {
  font-size: 50px;
  line-height: 1.15;
  box-sizing: border-box;
}

body {
  line-height: $line-height-base;
  font-family: $font-family-body;
  font-size: $font-size-base;
  color: $color-text-base ;
  margin: 0 auto;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
  outline: none;

  &:hover {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-tap;
  }
}

img {
  max-width: 100%;
}


// mobile devices was hided
@media only screen and (max-width: 640px) {
  .hide-in-mobile {
    display: none !important;
  }
}


// common style, like: float、align
.align {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}
.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
  &-none {
    float: none;
  }
}


// button
.button-block {
  width: 100%;
}


// form
.form-item-normal {
  .el-form-item__content {
    line-height: 1;
  }
}

// card
.el-card {
  margin-bottom: 16px;
  
  &__header {
    display: flex;
    align-items: center;
    position: relative;

    .title {
      font-size: $font-size-subhead;
    }

    .subtitle {
      opacity: 0.5;
      margin-left: 16px;
      margin-right: 16px;
      font-size: $font-size-caption-sm;
    }

    .extra {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.card-gray {
    .el-card__header {
      background-color: $fill-grey;
    }
  }
}

// tabs
.el-tabs {
  &.tabs-simple {
    box-shadow: none;
  }
}