/* common style, like: float、align、flex */
.align {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}
.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
  &-none {
    float: none;
  }
}
.flex {
  display: flex;

  &-1 {
    flex: 1;
  }

  &-align-center {
    align-items: center;
  }
}

.row {
  &-flex-space-around {
    justify-content: space-around;
  }
  &-flex-space-between {
    justify-content: space-between;
  }
  &-flex-center {
    justify-content: center;
  }

  &-flex-middle {
    align-items: center;
  }
}